@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    src: url('../fonts/OpenSans-Regular.ttf');
}

body{
    font-family: Arial;
    position: absolute;
    color: #fcfcfc;
}

.text-primary{
    color: #FFB548 !important;
}

.font-size-18{
    font-size: 18px !important;
}

.font-size-56{
    font-size: 56px !important;
}

.arial{
    font-family: Arial !important;
}

.btn-primary{
    background: #FFB548 !important;
    color: #000;
    border-radius: 4px;
    padding: 10px 20px;
    width: 260px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    border-color: #FFB548 !important;
    outline: none !important;

    --bs-btn-color: #fff !important;
    --bs-btn-bg: #FFB548 !important;
    --bs-btn-border-color: #FFB548 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #FFB548 !important;
    --bs-btn-hover-border-color: #FFB548 !important;
    --bs-btn-focus-shadow-rgb: 49,132,253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #FFB548 !important;
    --bs-btn-active-border-color: #FFB548 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #FFB548 !important;
    --bs-btn-disabled-border-color: #FFB548 !important;
}

.btn-primary:focus, .btn-primary:active {
    outline: none !important;
    border: none !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus {
    outline: none !important;
}

.btn:focus, .btn:active{
    outline: none !important;
   box-shadow: none;
}

.btn-primary:hover{
    background: black !important;
    border-color: #FFB548;
}

.open-sans{
    font-family: "OpenSans";
}

.font-size-12{
    font-size: 12px;
}

/* NAVBAR */

nav{
    background: rgba(0, 0, 0, 0.5) !important;
    height: 90px;
}

#navbar-web a{
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}

.logo{
    width: 10%;
}

.navbar-brand{
    padding-right: 100px;
}

/* END NAVBAR */

/* HOME  */

#home{
    margin-top: -90px;
    padding-top: 90px;
    min-height: calc(100vh + 94px); 
    width: 100vw !important;
    position: relative;
    background: url('../imgs/main-bg.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
}

#home .title{
    color: #fff;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

#home .subtitle{

    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}

.content-home{
    height: calc(100vh - 90px) !important;
}

.text-white{
    color: #fff;
}

.text-400{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}



.btn-play{
    background: #FFB548 !important;
    color: #000;
    border-radius: 4px;
    padding: 10px 20px;
    width: 260px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    border-color: #FFB548;
}

.btn-play:hover{
    background: black;
    border-color: black;
}

/* END HOME */

/* THE GAMES */

#the-games{
    width: 100vw;
    min-height: calc(100vh + 94px);
    position: relative;
    background: url('../imgs/the-games-bg.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
}

#the-games .title{
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
}

.content-the-games{
    height: 100vh;
}

.content-the-games .row{
    height: fit-content;
}

#the-games .subtitle{
    color: #fff;
    font-size: 56px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
}

.carousel-indicators button{
    margin: 3px 20px !important;
   height: 10px !important;
   width: 10px !important;
   border-radius: 50% !important; 
   border: 3px solid white !important;
   background: transparent !important;
}

.carousel-indicators button.active {
    background: white !important;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

.carousel-inner{
    width: 90% !important;
    margin: 0 auto !important;
}

.carousel-item img{
    width: 100% !important;
}

/* END THE GAMES */

/* FEATURES */
#features{
    width: 100vw;
    min-height: calc(100vh + 94px);
    position: relative;
    background: url('../imgs/features.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
}

#features .title{
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
}

#features .subtitle{
    color: #fff;
    font-size: 56px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
}

.timeline{
    display: relative;
}

.item-timeline{
    display: flex;
    margin-top: -15px;
    margin-bottom: 30px;
}

.item-timeline.active{
    margin-top: 0px !important; 
    margin-bottom: 0px !important;
}

.item-timeline .dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    margin-top: 13px;
    margin-right: 20px;
}

.item-timeline .text-primary{
    font-size: 24px !important;
}

.item-timeline .desc{
    font-size: 18px !important;
}

.item-timeline.active .desc{
    padding-bottom: 50px !important;
}


 
.item-timeline.active .dot{
    background: white;
}

.item-timeline.active:before {
    content: ' ';
    background: white;
    width: 2px;
    margin-top: 20px;
    position: relative;
    left: 8px;
}

.item-timeline:before {
    content: ' ';
    background: transparent;
    width: 2px;
    margin-top: 20px;
    position: relative;
    left: 8px;
}
/* END FEATURES */	

/* SYSTEM REQUIREMENTS */

#system-requirements{
    width: 100vw;
    min-height: calc(100vh + 94px);
    position: relative;
    background: url('../imgs/requirements.png') no-repeat;
    background-size: cover;
    text-align: center;
}

#system-requirements .vector{
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    position: absolute;
    width: 100vw;
    min-height: calc(100vh + 94px);
    left: -1.55px;
    top: -0.17px;
    z-index: 1;
}

#system-requirements .content{
    z-index: 2;
}

#system-requirements .title{
    color: #fff;
    font-size: 56px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
}

#system-requirements .questions{
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
}

.item-requirements {
    border: 1px solid #979797;
}

.item-requirements .text-primary{
    font-size: 24px !important;
}

.item-requirements .desc{
    font-size: 18px !important;
}
/* END SYSTEM REQUIREMENTS */

/* TOP SCORES */
#top-scores{
    width: 100vw;
    min-height: calc(100vh + 94px);
    position: relative;
    background: url('../imgs/top-score-bg.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

.item-top-scores{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

#top-scores .header > .profile{
    /* border-right: 10px solid #FFB548; */
    /* border-bottom: 10px solid #FFB548; */
    
}

#top-scores .header > .profile .vector{
    border-radius: 50%;
    background-color: #FFB548;
    width: 65px;
    height: 65px;
}

#top-scores .header > .profile img{
    border-radius: 50%;
    margin-left: -10px;
    margin-top: -2px;
    width: 65px;
    height: 65px;
}
/* END TOP SCORES */ 

/* SUBSCRIBE */

#subscribe{
    width: 100vw;
    min-height: calc(100vh + 94px);
    position: relative;
    background: url('../imgs/newsletter.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

#subscribe .questions{
    letter-spacing: 2px !important;
    font-size: 24px;
}

#subscribe .title{
    font-size: 65px; 
    letter-spacing: 3px;
}



.form-subscribe input{
    border: none;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    height: 60px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;background: rgba(255, 255, 255, 0.08) !important;
    border-radius: 5px;
    color: #FFB548 !important;
}

.form-subscribe .btn-primary{
    width: 100%;
}

/* END SUBSCRIBE */

/* FOOTER */
#footer{
    background: black;
    height: 233px;
    width: 100vw;
}

#footer a{
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Arial;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px;
    text-decoration: none;
}

#footer .divider{
    height: 1px;
    width: 100%;
    background: white;
}

#footer .copyright{
    color: rgba(255, 255, 255, 255, 0.5)
}

#footer .divider-bar{
    width: 1px;
    height: 20px;
    background: white;
}

/* END FOOTER */


/* RESPONSIVE */

@media only screen and (max-width: 767px) {
    #navbar-web{
        display: none;
    }

    #navbar-mobile{
        display: flex !important;
    }

    .content-navbar, #navbar-mobile {
        background: white !important;
    }

    .title{
        font-size: 30px !important;
    }

    .subtitle{
        font-size: 14px !important;
    }

    .desc{
        font-size: 11px !important;
    }

    .btn-primary{
        width: 100% !important;
    }

    #home {
        height: calc(100vh - 90px) !important;
    }

    .content-features{
        background: #000000bf;
        min-height: calc(100vh + 94px);
        display: flex;
        align-items: center;
    }

    .item-requirements{
        width: 100% !important;
    }

    .item-requirements .text-primary{
        font-size: 14px !important;
    }

    .item-requirements .desc{
        font-size: 11px !important;
    }

    .d-mobile-none{
        display: none !important;
    }

    .form-subscribe > div > div{
        margin-bottom: 16px;
    }

    #footer .navigation{
        padding: 0px !important;
    }

    #footer{
        height: auto !important;
    }

    #footer .navigation{
        flex-direction: column !important;
    }

    #footer #information{
        padding-bottom: 20px;
        flex-direction: column-reverse !important;
    }

    #information .divider-bar{
        display: none;
    }


  }